<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.pschinis.stepcounter"
        version="1.1.0">

    <name>StepCounter</name>

    <description>Cordova Plugin for step counting using Recording API</description>

    <engines>
      <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <js-module src="www/stepcounter.js" name="stepcounter">
        <clobbers target="stepcounter"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="StepCounterPlugin">
            <param name="android-package" value="com.pschinis.stepcounter.StepCounterPlugin"/>
          </feature>
        </config-file>

        <framework src="com.google.android.gms:play-services-fitness:21.2.0" />

        <source-file src="src/android/com/pschinis/stepcounter/StepCounterPlugin.java" target-dir="src/com/pschinis/stepcounter"/>
    </platform>
</plugin>
